ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://your-database-user:your-database-password@localhost:5432/your-database-name

DEBUG=True

DJANGO_ENV=development

SECRET_KEY=your-secret-key

VITE_API_URL=http://127.0.0.1:8000/api
