ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_NAME=your-database-name
DATABASE_USER=your-database-user
DATABASE_PASSWORD=your-database-password
DATABASE_HOST=localhost
DATABASE_PORT=5432

DEBUG=True

DJANGO_ENV=development

SECRET_KEY=your-secret-key